@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  text-align: center;
  background-color: #dee3e3;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 18px;
}

.main-div {
  padding: 60px;
  background-color:#8db9ca;
}

.main-div h1 {
  margin: 0;
  margin-bottom: .5px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
}

.main-div h1 e {
  font-weight: 700;
  color: #ff6a00;
}

.secondary-div {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-div {
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.2rem;
}

input{
  border:none;
  width: 8em;
  font-size: 1.2rem;
}

select {
  border: none;
  font-size: 1.2rem;
}

.icon {
  font-size: 2.5rem;
  padding: 5px 10px;
  color: #ff6a00;
}

select {
  margin-left: .5em;
}